@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #afacac;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box{
    border-radius: 15px;
    width: 800px;
    box-shadow: 1px 1px 5px black;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.imgbox{
    position: relative;
}
.logo{
    position: absolute;
    top: 10px;
    left: 15px;
    border: 2px solid #afacac;
    border-radius: 100px;
    width: 70px;
}
.shelf-pic{
    margin: 0 10px;
    height: 100%;
    width: 95%;
    object-fit: cover
}
.form-box{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.inputbox{
    margin-bottom: 20px;
}
.title{
    margin-bottom: 15px;
    font-family: 'Fredoka One', cursive;
}
.icon{
    padding: 14px;
    background-color: #afacac;
}
.inputbox > input{
    outline: none;
    padding: 10px 5px;
    font-size: 16px;
}
.submit > input{
    box-shadow: 1px 1px 5px black;
    border: none;
    outline: none;
    margin-top: 10px;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    width: 100%;
    font-weight: 600;
    color: black;
    border-radius: 10px;
    background-color: #afacac;
}
.submit > input:hover{
    cursor: pointer;
    background-color: black
}