 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 .container  {
    border-radius: 10px;
    font-size: 20px;
    background-color: #f4f7f7;
    box-shadow: 50px 50px 100px rgba(44, 40, 40, 0.795);
    width: 650px;
    margin: 40px auto;
    border-radius: 30px; 
    font-family:'Courier New', Courier, monospace
 }
 .header{
   background-image: linear-gradient(135deg,rgb(43, 50, 53),aqua ,red, yellow,green );
     margin:0;
     padding: 15px 0px;
     border-radius: 15px; 
     
 }
 #words{
     font-size: 30px;
     /* font-style:oblique */
     font-family: cursive ; 
 }

.inner-container{
   padding: 20px 30px; 
   text-align: center;
   position: relative;
}

img {
    border: 10px solid linear-gradient(135deg,rgb(43, 50, 53),aqua ,red, yellow,green );
    border-radius: 90px;
    width: 90px;
    color: #4fe9e1;
    position: absolute;
    left: 50px;
    top: 25px;
   
  }
 .inner-container > p{
     text-align: justify;
 }
 
.btn-container{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
} 

.btn{
    text-decoration: none;
    color: black;
    background-color:  #4fe9e1;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1.5rem;
    font-family:monospace;
    border: #4fe9e1;
    transition-duration: 0.4s;
    transition: ease-out 0.3s;
    margin: 10px 100px
 }
.btn:hover{
   background-image: linear-gradient(135deg,rgb(43, 50, 53),aqua ,red, yellow,green );
   color: white;
   cursor: pointer;
}

.text{
   font-size :20px;
   font-weight: 400;
   font-style: italic;
   margin-bottom: 20px;
   font-family:monospace;
}
