@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #afacac;
}
.container{
    background-color: white;
    border-radius: 15px;
    width: 550px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px #7b7979;
    height: 80vh;
}
.header-icon{
    font-size: 120px;
    display: flex;
    color: #585858bd;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.title{
    margin: 0 auto;
    display: flex;
    padding: 18px;
    font-family: 'Merienda', cursive;
}
.text{
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: monospace;
}
.input-details{
    margin-bottom: 60px;
    padding: 6px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 3px rgba(12, 7, 7, 0.8);
}
.input-details >input{
    width: 92%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight:700;
}
.icon{
  color: #7b7979;
   
}
.submit-btn{
    padding: 8px;
    margin: 0 auto;
}

.submit-btn>input{
    font-family: 'Merienda', cursive;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #afacac;
    box-shadow: 0.5px 0.5px 2px rgba(12, 7, 7, 0.8);
    border:none
}
.submit-btn> input:hover{
    cursor: pointer;
    background-color:black;
    color: white;
}
.return{
    text-align: center;
    padding: 10px;
    padding: 10px;
    font-family: 'Merienda', cursive;
    font-size: 25px;
    
}
.return >a{
    color:#7b7979;
    text-decoration: none;
}
.return >a:hover{
    cursor: pointer;
    color:black;
}
